<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id = "man" class="com.billoier.alibaba.demo2.Man" init-method="setUp" destroy-method="exitMethod">
        <property name="name" value="billoier"/>
    </bean>-->

    <!--<bean class="com.billoier.alibaba.demo2.MyBeanPostProcessor">-->
    <!--</bean>-->
    <!--<bean id="userDao" class="com.billoier.alibaba.demo2.UserDaoImpl">-->

    <!--</bean>-->

    <bean id="user" class="com.billoier.alibaba.demo3.User">
        <property name="name" value="billoier"/>
        <property name="age"  value="25"/>
        <property name="myCat" ref="cat"/>
    </bean>


    <bean id="cat" class="com.billoier.alibaba.demo3.Cat">
        <property name="name" value="Chelase"/>
    </bean>

</beans>